
# Created at build time
build/

# Created by Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar


# Created by IDEA
.idea/
*.iws
*.iml
*.ipr
*.ids

#Created by the atlassian plugin
atlassian-ide-plugin.xml
